<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Jukify Your Playlists</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">

  <script src="{{ url_for('static', filename='js/lib/jquery/jquery-1.10.2.js')}}"></script>
  <script src="{{ url_for('static', filename='js/lib/angular/angular.js')}}"></script>
  <script src="{{ url_for('static', filename='js/lib/angular/angular-animate.js')}}"></script>
  <script src="{{ url_for('static', filename='js/lib/angular/angular-resource.js')}}"></script>
  <script src="{{ url_for('static', filename='js/lib/angular/angular-route.js')}}"></script>

  <script src="{{ url_for('static', filename='js/app.js')}}"></script>
  <script src="{{ url_for('static', filename='js/animations.js')}}"></script>
  <script src="{{ url_for('static', filename='js/controllers.js')}}"></script>
  <script src="{{ url_for('static', filename='js/filters.js')}}"></script>
  <script src="{{ url_for('static', filename='js/services.js')}}"></script>

  <script src="{{ url_for('static', filename='js/lib/js/angular.min.js')}}"></script>

  <script src="http://code.angularjs.org/1.2.13/angular.min.js"></script>






</head>
<body>
  <header id="masthead" class="site-header light" role="banner" style="background-color:yellow; height:6px">

  <div class="navbar navbar-fixed-top" style="background-color:yellow">  
    <div class="navbar-inner">  
      <div class="container">  
      <ul class="nav">  
        <li class="active">  
          <a class="brand" href="#" style="position:fixed; left:75px">jUKIFY</a>  
        </li>   
      </ul>  
      </div>  
    </div>  
  </div>
<header id="masthead" class="site-header light" role="banner">

  <div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
      <div class="container">  
      <ul class="nav">  
        <li class="active">  
          <a class="brand" href="#" style="position:fixed; left:105px">jUKIFY</a>  
        </li>   
      </ul>  
      </div>  
    </div>  
  </div>



  <div class="view-container">
		{% block content %}
		{% endblock %}
  </div>

  <footer class="footer" style="background-color:white">
              <small style="margin-left:5px; position:fixed; bottom:0px; right:0px; background-color:white">Developed by                   
                <a href="mailto:nakavthekar@gmail.com">Nilesh Kavthekar</a>
                <a href="http://www.linkedin.com/in/nkavthekar">
                    <img src="https://dl.dropboxusercontent.com/u/61965692/linkedin.png" alt="linkedin" style="width:1.15%; height:1.15%; position:relative; bottom:2px"/>
                  </a>,
                <a href="mailto:rollenseb@gmail.com">Sebastian Rollén</a>, and
                <a href="mailto:matthewdschulman@gmail.com">Matt Schulman</a>
                <a href="http://www.linkedin.com/pub/matthew-schulman/61/118/159">
                    <img src="https://dl.dropboxusercontent.com/u/61965692/linkedin.png" alt="linkedin" style="width:1.15%; height:1.15%; position:relative; bottom:2px"/>
                  </a>.  
              </small>
            </footer>

</body>
</html>
